%h1 Welcome to Schnell Test

%div
  = image_tag 'vetclinic.jpg', alt: 'Doggy', title: 'Vet Clinic'

%p
  Welcome to our new software platform! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum neque, ullamcorper at nisi sed, viverra semper mi. Nulla vel augue enim. Etiam maximus ipsum auctor mauris tincidunt auctor. Nam ut finibus dolor. Sed nulla tellus, sollicitudin eu ultrices id, sollicitudin non nunc. Vivamus sagittis tempor ipsum, ut commodo sem ultricies non. Morbi a augue sem. Vestibulum id sem nec enim bibendum tincidunt. Ut venenatis consequat lectus ac viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra faucibus lectus, non lobortis turpis mattis eget. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin congue ex sit amet cursus sagittis.

%p
  Cras rutrum eleifend tortor, sed dictum nunc sodales nec. Nam eget lectus id ipsum commodo eleifend nec vel dui. Phasellus nec fringilla ligula, a vehicula ex. Ut rhoncus varius dolor nec bibendum. Fusce sit amet bibendum eros, a semper est. Suspendisse rutrum augue quis justo pretium tincidunt eu at velit. Vestibulum sed convallis elit. Phasellus sed lacus consequat, tincidunt magna sit amet, finibus ante.
%br

