%ul{ class: "nav navbar-nav navbar-right" }
  -unless user_signed_in?
    %li
      %a{ href: edit_user_registration_path }
        %span.glyphicon.glyphicon-user
        Sign Up
    %li
      %a{ href: new_user_session_path }
        %span.glyphicon.glyphicon-log-in
        Log in
  -else
    %li
      = "Guten Tag Lehrer! #{cookies[:fullname]}"
    %li
      %a{ href: edit_user_registration_path }
        %span.glyphicon.glyphicon-apple
        Edit Profile
    %li
      %a{ href: destroy_user_session_path }
        %span.glyphicon.glyphicon-log-out
        Logout

