body,
html {
    margin:0;
    padding:0;
    color:#000;
     background:#e0e0e0;
}
#wrap {
    width:80%;
    margin:0 auto;
    background:#fff;
    border: 1px solid black;
  }
#header {
    padding:5px 10px;
  }
h1 {
      margin:0;
    }

/** MENU STARTS**/
#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*Create a horizontal list with spacing*/
#nav li {
  display: inline-block;
  float: left;
  margin-right: 1px;
}

/*Style for menu links*/
#nav li a {
  display: block;
  min-width: 140px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #838383;
  text-decoration: none;
}

/*Hover state for top level links*/
#nav li:hover a {
  background: #44849c;
}

/*Style for dropdown links*/
#nav li:hover ul a {
  background: #f3f3f3;
  color: #838383;
  height: 40px;
  line-height: 40px;
}

/*Hover state for dropdown links*/
#nav li:hover ul a:hover {
  background: #44849c;
  color: #fff;
}
/*Hide dropdown links until they are needed*/
#nav li ul {
  display: none;
}

/*Make dropdown links vertical*/
#nav li ul li {
  display: block;
  float: none;
}

/*Prevent text wrapping*/
#nav li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}

/*Display the dropdown on hover*/
#nav ul li:hover .hidden {
  display: block;
}
/** END **/
  #main {
    float:left;
    width:75%;
    padding:10px;
  }
  h2 {
    margin:0 0 1em;
  }
  #sidebar {
    float:right;
    width: 20%;
    padding:10px;
    border-left: 1px dotted gray;
  }
  #footer {
    clear:both;
    padding: 5px 10px;
    border-top: 1px dotted gray;
  }
  #footer p {
    margin:0;
  }
  * html #footer {
    height:1px;
  }


#appoList { width: 100%; border: 1px dotted green; }

#myTable {margin-top:10px;}
#appoDivForm {margin:10px 3px;}

/*
  Cusco Sky table styles
  written by Braulio Soncco http://www.buayacorp.com
*/
table, th, td {
  width: 100%;
  border: 1px solid #d4e0ee;
  border-collapse: collapse;
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: #555;
}

caption {
  font-size: 150%;
  font-weight: bold;
  margin: 5px;
}

td, th {
  padding: 4px;
}

thead th {
  text-align: center;
  background: #e6edf5;
  color: #4f76a3;
  font-size: 100% !important;
}

tbody th {
  font-weight: bold;
}

tbody tr { background: #FCFDFE; }

tbody tr.odd { background: #F7F9FC; }

table a:link {
  color: #718ABE;
  text-decoration: none;
}

table a:visited {
  color: #718ABE;
  text-decoration: none;
}

table a:hover {
  color: #718ABE;
  text-decoration: underline !important;
}

tfoot th, tfoot td {
  font-size: 85%;
}

#content_msg {
  display: none;
  top: 20px;
  float:center;
  background: #fff;
  border: 1px dotted orange;
}

#content_fibax {
  display: none;
  top: 20px;
  float:center;
  background: #fff;
  border: 1px dotted orange;
}

