%header{ :class => "page-header header container-fluid" }
  .overlay
    .description
      %h1 Welcome to SchnellTest

      %p Find me in app/views/website/info.html.haml

      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

      %button{ :class => "btn btn-outline-secondary btn-lg" }
        Tell Me More!

%div{ :class =>"container features" }
  .row
    %div{ :class => "col-lg-4 col-md-4 col-sm-12"}
      %h3{ :class => "feature-title" }
        Services
      = image_tag "/assets/images/coll-1.jpeg", :class => "img-fluid"
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.

    %div{ :class => "col-lg-4 col-md-4 col-sm-12"}
      %h3{ :class => "feature-title"}
        Products
      = image_tag "/assets/images/coll-3.jpeg", :class => "img-fluid"
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.
    %div{ :class =>"col-lg-4 col-md-4 col-sm-12" }
      %h3{ :class => "feature-title"}
        Support
      = image_tag "/assets/images/coll-2.jpeg", :class => "img-fluid"
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.

.div#approot
