!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ::Schnell::
    = stylesheet_link_tag 'mainstyles'
    = javascript_include_tag 'http://localhost:8080/build/styles.js'
    = csrf_meta_tags

%body
  - flash_messages

  #header
    =render partial: 'site/loginbar'
    %h1 Schnell System 0.1
    %a{ href: '/'} Home
    %a{ href: '/about'} About Us
    %a{ href: '/map'} Map
    - if user_signed_in?
      %a{ href: '/tests/'} Ihre Prüfungen
      %a{ href: '/annals/'} Archives
      %a{ href: '/user/history'} History

  #main
    =yield

  #footer
    %br
    %span.copy Copyright Chipotle Software &copy; 2015-2016
    %a{ href: '/site/about'} Read more

  = javascript_include_tag 'http://localhost:8080/build/bundle.js'
