!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ::Schnell::
    = stylesheet_link_tag 'mainstyles'
    = csrf_meta_tags

%body
  - if flash[:notice]
    .alert-message.warning
      = flash[:notice]
  - if flash[:error]
    .alert-message.error
      = flash[:error]

  #header
    %h1 Schnell System 0.1
    %a{ href: '/'} Home
    %a{ href: '/about'} About Us
    %a{ href: '/map'} Map
    %a{ href: '/appointment/new'} Appointment
    %a{ href: '/groups/start'} Admin
    =render partial: 'site/loginbar'

  #main
    =yield

  #footer
    %br
    %span.copy Copyright Chipotle Software &copy; 2015-2016
    %a{ href: '/site/about'} Read more

